*{
    margin:0;
    padding:0;
}

.main{
    text-align: center;
}

.input{
    display: flex;
    width: 400px;
    flex-direction: column;
    background-color: red;
}

#html, #css, #js {
    
    margin: 30px 20px;
    float:left;
    
}

textarea{
    resize: none;
}

.output{
    float:right;
    margin-right:50px;
    width:40vw;
    
}

iframe{
    width:40vw;
}