*{
    margin:0;
    padding:0;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');
}

body{
    background-color: rgb(209, 209, 209);
}

.heading{
    background-color: rgb(223, 223, 223);
    text-align: center;
    font-size: 20px;
    width:300px;
    margin: 0 auto;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-right: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
}

.io{
    margin-top: 20px;
    margin-left: 60px;
    
}

.input{
    float: left;
    width:500px;
}

form{
    padding:auto;
}

.outputButton{
   position: relative;
   left:180px;
   margin:10px;
   width:100px;
   height:40px;
   border-radius:10px;
   font-size:22px;
   font-weight: bold;
   background-color: rgb(224, 224, 224);
   color:rgb(67, 137, 184);
   border: 2px solid rgb(204, 204, 204)
}

.outputButton:hover{
    background-color: rgb(105, 184, 236);
    color:white;
    transition: .2s;
}

#html, #css, #js{
    margin-top:10px;
    margin-left:10px;
}

#html button{
    width:90px;
    height:35px;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

#html button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 102, 0);
    transition: .2s;
}

#css button{
    font-weight: bold;
    width:90px;
    height:35px;
    margin-bottom: 5px;
    font-size: 19px;
    border-radius: 10px;
}

#css button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(50, 46, 107);
    transition: .2s;
}

#js button{
    font-weight: bold;
    width:90px;
    height:35px;
    margin-bottom: 5px;
    font-size: 19px;
    border-radius: 10px;
}

#js button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(116, 0, 0);
    transition: .2s;
}

#htmlc{
    background-color: rgb(0, 70, 0);
    color:white;
    display: block;
}

#css textarea{
    background-color: rgb(0, 0, 109);
    color:white;

}

#js textarea{
    background-color: rgb(122, 0, 0);
    color:white;

}

textarea{
    resize: none;
    width:450px;
    height:400px;
    font-size: 18px;
    border-radius: 15px;
    padding:8px;
}

.output{
    float:right;
    margin-right: 100px;
    margin-top: 50px;;
    width:700px;
    text-align: center;
    height:180vh;
    border-left: 8px solid black;
}

.output h1 {
    margin-bottom: 15px;
}

iframe{
    width:650px;
    height: 90vh;
    margin-left: 20px;
    border:none;
    padding:10px;
    
}
