*{
    margin: 0;
    
}

body{
    background-color: rgb(207, 207, 207);
}

.main{
    text-align: center;
    margin-bottom: 10px;
    
}

.input{
    margin-top: 10px;
    max-width: auto;
    
    display: flex;
    justify-content: space-around;
 
}

.input-c{
    width:450px;
    height:400px;
    margin: 10px;
    
}
hr{
    margin-top: 10px;
    height:4px;
    background-color: black;
}

.textarea-a{
    width:inherit;
    height: inherit;
    resize: none;
    background-color: rgb(7, 7, 73);
    font-size: 16px;
    color: white;
}

.textarea-b{
    width:inherit;
    height: inherit;
    resize: none;
    background-color: rgb(4, 68, 20);
    font-size: 16px;
    color: white;
}
.textarea-c{
    width:inherit;
    height: inherit;
    resize: none;
    background-color: rgb(143, 2, 2);
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}
